.header {
    box-shadow: 3px 9px 18px 0px hsla(358, 45%, 71%, 0.925);
    border-radius: 20px;
    text-align: center;
    background-image: url("../images/shining.png");
}

.header__title {
    color: hsla(0, 100%, 27%, 0.986);
    text-align: center;
    text-shadow: 1px 2px 5px hsla(12, 100%, 5%, 0.925);
}

.header__img {
    cursor: pointer;
    box-shadow: 4px 5px 5px 0px rgba(100, 100, 100, 0.76);
}

.header__foto {
    box-shadow: 3px 9px 18px 0px hsla(358, 45%, 71%, 0.925);
    padding-left: 16px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
}