.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
    font-size: large;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    text-align: center;
    border: none;
    background-color: hsl(209, 67%, 27%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 5px;
}

.form__button--reset {
    background-color: rgb(106, 109, 109);
    width: 50%;
    
    
}

.form__button:hover {
    background-color: hsl(209, 61%, 59%);
}

.form__button:active {
    background-color: hsl(209, 51%, 65%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    background-color: hsl(209, 67%, 27%);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.form__result {
    color: hsl(209, 66%, 13%);
    font-size:x-large;
}