html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.allDocument {
    font-family: 'Lora', serif;
    text-align: center;
    background-color: rgba(0, 242, 250, 0.81);
    max-width: 1000px;
    margin: auto;
    line-height: 1.5;
}

.mainHeader {
    color: crimson;
}

.header {
    text-shadow: 3px 3px 3px grey;
}

.gameName {
    color: rgb(255, 47, 89);
}

.box {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: large;
    margin: 8px;
    padding: 2px;
    box-shadow: 5px -5px 5px 0px crimson;
}

.foot {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: medium;
    margin: 8px;
    padding: 2px;
    box-shadow: 5px -5px 5px 0px crimson;
}

.picture {
    width: 100%;
}

.table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.tableCell {
    border: 2px solid rgba(0, 242, 250, 0.81);
    padding: 20px;
    text-align: center;
}

.tableHeader {
    background-color: rgb(255, 47, 89);
    color: white;
}

.caption {
    margin: 20px;
}

.container {
    overflow-x: auto;
}

.list {
    list-style: none;
}

.link {
    color: crimson;
    text-decoration: none;
}

.link:hover {
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    color: white;
}